.clear {
	content: url("../../public/sunny.png");
	width: 60%;
}

.snow {
	content: url("../../public/snow.png");
	height: 20%;
	width: 60%;	
}
.clouds {
	content: url("../../public/w-partly-cloudy.png");
	width: 60%;	
}

.DayWeather {
	float: left;
	width: 25%;
	height: 100%;
}